<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li>cheekujodhpur</li>
      </ul>
    </div>
    <div class="footer-col-2 column">
        Room No. 42, Hostel-4<br />
        Indian Institue of Techonology, Bombay
        Mumbai-400076, India
    </div>
    <div class="footer-col-3 column">
        <ul>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><a href="mailto:kumar.ayush@iitb.ac.in">kumar.ayush@iitb.ac.in</a></li>
        </ul>
    </div>

  </div>

</footer>
